button{
    height: 50px;
    min-width: 100px;
    padding: 0 15px;
    margin: 0 10px;
    font-size: 18px;
    cursor: pointer;
}
span{
    font-size: 40px;
}
.btn-wrap{
  display: flex;
  align-items: center;  
  margin-top: 20px;
}
.calculation_wraper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
}
.inc-dec, .multi-devide{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.multi-devide{
    margin-top: 50px;
}